VITE_LUMO_SERVER_URL=http://127.0.0.1:8092
VITE_LUMO_TEXT_MODEL_CONFIG_ID=
VITE_LUMO_TEXT_MODEL_SOURCE=
VITE_LUMO_TEXT_MODEL_DISPLAY_NAME=
VITE_LUMO_IMAGE_TOOL_CONFIG_ID=
VITE_LUMO_IMAGE_TOOL_ID=
VITE_LUMO_IMAGE_TOOL_SOURCE=
VITE_LUMO_IMAGE_TOOL_DISPLAY_NAME=
