node_modules
**/node_modules
.pnpm-store
**/.pnpm-store
target
**/target
dist
**/dist
.vite
**/.vite
coverage
**/coverage
.git
.env
docker/.env
docker/.env.*
docker/data
docker/data-test
docker/nginx/ssl/localhost
data
apps/web/dist
